
h1 {
  color: pink;
  margin-left: 200px;
}
h2{
  color: purple;
  margin-left: 125px;
  font-size: 16px;
}
img {
  width: 400px;
  margin-left: 200px;
  margin-right: 500px;
  padding: 20px;
}
font-family: 'Gamja Flower', cursive;
font-family{ 'Gamja Flower', cursive;
}
body {
  font-family: 'Tangerine', serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
}

background{
  color: #dc42f4;
}
p{
  margin-left: 100px
}
header {
  background-color: red;
}
.pink{
  color: pink;
}
.blue{
  color: blue;
}
.CN{
  color: red;
}
.LargePink{
  color:pink; font-size:26px;
}
.RodgersText{
  color: blue; font-size: 18px, padding: 5px;
}
.StSaviours{
  border: 15px solid #3e2b14;
  padding: 10px;
}
.StSaviours2{
border-radius: 100%; // full circular image
}


.alignnone{
-webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
-ms-transition: all 1s ease-in-out;
}

.alignnone {
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-o-transform: rotate(360deg);
-ms-transform: rotate(360deg);
}
